*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: [Inter](https://fonts.google.com/specimen/Inter);
}

body{
background-color: hsl(0, 0%, 8%);
font-family: Inter;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center; 
padding: 30px 15px;
}

.main-container{
    width: 100%;
    max-width: 370px; /*prevents it from becoming too wide */
    padding-top: 10px;
    background-color:hsl(0, 0%, 12%);
    border-radius: 9px;
    text-align:center; 
    margin-bottom: 100p;
    height: ;
}
h1,p{
    color: hsl(0, 0%, 100%);
}

#country{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    margin-top: 10px;
}

img{
    border-radius: 100%;
}

nav{
margin-top: 16px;
}

.end{
    margin: 5px;
    width: 300px;
    padding: 10px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight:400, 600, 700 ;
    cursor: pointer;
    transition: 0.3s;
}

.end:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.attribution{
    color: hsl(0, 0%, 100%);
}
a{
  text-decoration: none;
}

@media (max-width: 480px){
    .main-container{
        max-width: 90%;
        padding: 25px 20px;
    }

    h1{
        font-size: 25px;
    }

    p{
        font-size: 14px;
    }

    .end{
        padding: 13px;
    }
}